body {
  box-sizing: border-box;
}

section {
  width: 300px;
  margin: auto;
  margin-top: 100px;
}

h1 {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 5px 0;
}

#taskContainer {
  list-style-type: none;
  padding-inline-start: 0;
}

#inputContainer {
  display: flex;
  gap: 5px;
}

#addInput {
  flex: 1;
}

.strikethrough {
  text-decoration: line-through;
}

.removeButton {
  border: none;
  background: none;
}
