body {
  background-color: #121212;
}

section {
  margin: auto;
  width: 300px;
  text-align: center;
}

#addInput {
  width: 20em;
}

#addButton {
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 30px;
}

#taskContainer {
  list-style-type: none;
  width: auto;
  height: auto;
  color: white;
  border-radius: 10px;
  background-color: lightgray;
}

#inputContainer {
  align-items: center;
  display: flex;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

span {
  font-size: large;
  color: black;
  text-align: left;
}

.delButton {
  border: none;
  font-size: large;
  background: none;
  cursor: pointer;
  left: 270px;
  position: relative;
}

.checkBox {
  text-align: right;
  cursor: pointer;
  position: relative;
  right: 270px;
}
